{% extends 'user/user-base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header mt-30">
            <div class="container">
                <h2>{{title}}</h2>
            </div>
        </div>
        <section class="mt-30 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a class="shop-filter-toogle" href="#">
                            <span class="fi-rs-filter mr-5"></span>
                            Filters
                            <i class="fi-rs-angle-small-down angle-up"></i>
                            <i class="fi-rs-angle-small-up angle-down"></i>
                        </a>
                        <div class="shop-product-fillter-header collapse">
                            <div class="row justify-content-center">
                                {% for c in category %}
                                <div class="col-lg-2 col-md-4 mb-lg-0 mb-md-5 mb-sm-5">
                                    <a href="{% url 'product_list' c.name 'None' 'relevance' %}"><h5 class="mb-20">{{c.name}}</h5></a>
                                    <ul class="categor-list">
                                        {% for sc in sub_category %}
                                        {% if sc.category|stringformat:'s' == c.name|stringformat:'s' %}
                                        <li class="cat-item text-muted"><a href="{% url 'product_list' c.name sc.name 'relevance' %}">{{sc.name}}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                                <div class="col-lg-2 col-md-4 mb-lg-0 mb-md-5 mb-sm-5">
                                    <a ><h5 class="mb-20">Sort By</h5></a>
                                    <ul class="categor-list">
                                        
                                        <li class="cat-item text-muted"><a href="{% url 'product_list' currentCat currentSubcat 'relevance' %}">Relevance</a></li>
                                        <li class="cat-item text-muted"><a href="{% url 'product_list' currentCat currentSubcat 'relevance' %}">Discounts</a></li>
                                        <li class="cat-item text-muted"><a href="{% url 'product_list' currentCat currentSubcat 'newest' %}">Newest Arrivals</a></li>
                                        <li class="cat-item text-muted"><a href="{% url 'product_list' currentCat currentSubcat 'lowtohigh' %}">Price : Low to High</a></li>
                                        <li class="cat-item text-muted"><a href="{% url 'product_list' currentCat currentSubcat 'hightolow' %}">Price : High to Low</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row product-grid-3">
                            {% for i in products %}
                            <div class="col-lg-4 col-md-4">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'product_view' i.id %}">
                                                <img class="default-img" src="{{ i.image1.url }}" alt="">
                                                <img class="hover-img" src="{{ i.image2.url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        </div>
                                        {% if i.is_featured %}
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Featured</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{i.sub_category}}</a>
                                        </div>
                                        <h2><a href="{% url 'product_view' i.id %}">{{i.name}}</a></h2>
                                        <div class="product-price">
                                            <span>₹{{i.price}}</span>
                                            <!--<span class="old-price">$245.8</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--pagination-->
                            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        {% if products.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><i class="fi-rs-angle-double-small-left"></i></a></li>
                                        {% endif %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ products.number }}</a></li>
                                        {% if products.has_next %}
                                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">{{ products.paginator.num_pages }}</a></li>
                                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}"><i class="fi-rs-angle-double-small-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>

    {% endblock %}